body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	color: #d8ce04;
}
/* color: #2e3a59; */

a {
	text-decoration: none;
	color: inherit;
}

div {
	max-width: 800px;
	margin: auto;
}
